<%= flash[:notice] %>

<div>
  <h4> Import data </h4>
  <%= form_tag import_reports_path, multipart:true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
<br><br>

<h4> Payroll Report </h4>
<table border="1">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Pay Period</th>
      <th>Amount Paid</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |d| %>
      <tr>
        <td><%= d[:id] %></td>
        <td><%= d[:pay_period] %></td>
        <td><%= number_to_currency(d[:amount_paid]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>